// ===== Arrow up start =====
.stiky-arrow-up {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 50px;
    height: 50px;
    background: map-get($colors, dark);
    color: map-get($colors, natural);
    bottom: 20px;
    left: 95%;
    border-radius: 50%;
  }
  // ===== Arrow up end =====