// Merce class for all buttons on page
.btn {
  @extend .font-weight-500;
  @extend .font-size-16;
  background-color: map-get($colors, primary);
  color: map-get($colors, light);
  text-align: center;
  padding: 14px 30px;
  border: 0;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 5;

  &:hover,
  :focus,
  :active {
    background-color: map-get($colors, info);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  span{
    @extend .ml-3;
    color: map-get($colors, secondary);
  }
}

.btn-secondary {
  background-color: map-get($colors, secondary) !important;
  transition: all 0.3s;

  &:hover,
  :focus,
  :active {
    background-color: map-get($colors, dark) !important;
  }
}

.btn-play {
  a {
    @extend .flex-container;
    @extend .flex-align-center;
    @extend .font-weight-700;
    color: map-get($colors, primary);
    transition: all 0.3s ease;

    &:hover {
      color: map-get($colors, info) !important;
    }

  }

  i {
    @extend .flex-container;
    @extend .flex-justify-center;
    @extend .flex-align-center;
    @extend .mr-2;

    width: 35px;
    height: 35px;
    background-color: map-get($colors, primary);
    color: map-get($colors, natural);
    border-radius: 50%;
    transition: all 0.3s ease;

    &:hover {
      background-color: map-get($colors, info);
    }
  }
}

.btn-play-secondary {
  i {
    background-color: map-get($colors, secondary) !important;

    &:hover {
      background-color: map-get($colors, info) !important;
    }
  }
}

.filter-btn-store {
  @extend .flex-container;
  flex-wrap: wrap;
  gap: 10px;

  .btn-filter {
    border-radius: 28px;
    background-color: transparent;
    border: 1px solid map-get($colors, light);
    color: map-get($colors, silvery);
  }

  .active {
    background-color: map-get($colors, primary);
    color: map-get($colors, natural);
  }
}

.btn-trans {
  border: 2px solid map-get($colors, natural);
  color: map-get($colors, natural);
  background-color: transparent;
  transition: all 0.3s ease;

  &:hover {
    background-color: rgba(223, 223, 223, 0.5);
  }
}

.btn-arrow {
  @extend .font-weight-500;
  padding: 14px 0px;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 5;
  color: map-get($colors, info);
  position: relative;

  span {
    width: 25px;
    height: 3px;
    position: absolute;
    background-color: map-get($colors, info);
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    margin-left: 10px;

    &::after {
      content: '';
      position: absolute;
      top: 126%;
      right: -1px;
      width: 10px;
      height: 2px;
      background-color: map-get($colors, info);
      transform: rotate(-45deg);
    }

    &::before {
      content: '';
      position: absolute;
      top: -83%;
      right: -1px;
      width: 10px;
      height: 2px;
      background-color: map-get($colors, info);
      transform: rotate(45deg);
    }

  }

  &:hover {
    @extend .font-weight-700;

    span {
      width: 40px;
    }
  }
}