// Merce style for inputs on page
.form-control {
  @extend .font-size-16;
  max-width: 100%;
  width: auto;
  padding: 16px 12px;
  background-color: map-get($colors, light);
  color: map-get($colors, secondary);
  border: 1px solid transparent;
  flex-grow: 1;
  z-index: 5;

  &:focus {
    border-color: map-get($colors, primary);
    outline: 0;
    box-shadow: 0 0 0 0 2rem rgba(0, 123, 255, 0.25);
  }
}

.form-secondary{
  &:focus {
    border-color: map-get($colors, secondary) !important;
    outline: 0;
    box-shadow: 0 0 0 0 2rem rgba(0, 123, 255, 0.25);
  }
}

.form-group {
  @extend .mt-3;
  @extend .mb-2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  gap: 10px 0;

}